In [ ]:
##importar paquetes
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
#importar datos 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# cargar bases
bd1 = pd.read_csv ('/content/drive/MyDrive/ANALITICA3/employee_survey_data.csv')
bd2 = pd.read_csv ('/content/drive/MyDrive/ANALITICA3/general_data.csv', sep=";")
bd3 = pd.read_csv ('/content/drive/MyDrive/ANALITICA3/in_time.csv', sep=";")
bd4 = pd.read_csv ('/content/drive/MyDrive/ANALITICA3/manager_survey_data.csv', sep=";" )
bd5 = pd.read_csv ('/content/drive/MyDrive/ANALITICA3/out_time.csv', sep=";" )
bd6 = pd.read_csv ('/content/drive/MyDrive/ANALITICA3/retirement_info.csv', sep=";" )

In [ ]:
bd3

**#ANÁLISIS BASES**

SE OBSERVARA SUS COLUMNAS PARA SABER CUALES PODRIAN SER UTILES PARA EL ANÁLISIS Y AQUELLAS QUE NO SIRVAN POR SU NÙMERO DE NULOS EN COMPARACIÓN AL NÙMERA DE DATOS TOTAL QUE TENGAN

In [ ]:
#ANÁLISIS BASES

lista= [bd1, bd2, bd3, bd4, bd5, bd6]

for i in lista:
  print(i.describe())
  print("NULOS:")
  print(i.isnull().sum())
  print('-------------------------------------------------')

In [ ]:
#SE TRATA LOS NULOS DE CADA BASE
#NO SE TOMARA LAS BASES 3 Y 5 DEBIDO A LA CANTIDAD DE NULOS EXISTENTES Y QUE LA FECHA DE CUANDO SE RETIRARON ESTÁ EN LABASE DE DATOS RETIRADOS
#Y EN LA GENERAL SE TIENENE LOS AÑOS QUE CADA EMPLEADO TRABAJA EN LA EMPRESA POR LO QUE NO SE VE NECESARIA UTILIZARLAS
#BASE1
nulos = ['EnvironmentSatisfaction',  'JobSatisfaction',  'WorkLifeBalance']
for i in nulos:
  bd1[i] = bd1[i].fillna(bd1[i].median())
#BASE2
bd2['NumCompaniesWorked'] = bd2['NumCompaniesWorked'].fillna(bd2['NumCompaniesWorked'].interpolate())
#BASE6
bd6['resignationReason'] = bd6['resignationReason'].fillna('Others')

In [ ]:
#se unen las bases de datos 1, 2, 4 y 6 las otas no 
from operator import concat
bdt= bd1.merge(bd2, on = 'EmployeeID' , how = 'left')
bdto= bdt.merge(bd4, on = 'EmployeeID' , how = 'left')
bdtotal = bdto.merge(bd6, on = 'EmployeeID' , how = 'left')
bdtotal.head(5)

In [ ]:
#Se analizan los tipos de cada columna
print(bdtotal.shape)
print('-------------------------------------------------')
print(bdtotal.isnull().sum())
print('-------------------------------------------------')
print(bdtotal.dtypes)
print('-------------------------------------------------')

(4410, 32)
-------------------------------------------------
EmployeeID                    0
EnvironmentSatisfaction       0
JobSatisfaction               0
WorkLifeBalance               0
Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeCount                 0
Gender                        0
JobLevel                      0
JobRole                       0
MaritalStatus                 0
MonthlyIncome                 0
NumCompaniesWorked            0
Over18                        0
PercentSalaryHike             0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             9
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
JobInvolvement                0
PerformanceRating             0
Attrition                  3699
retirementDate             3699
retirementType             3699
resignationReason          3699
dtype: int64
-------------------------------------------------
EmployeeID                   int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
JobInvolvement               int64
PerformanceRating            int64
Attrition                   object
retirementDate              object
retirementType              object
resignationReason           object
dtype: object
-------------------------------------------------

In [ ]:
#Se arregla los tipos de datos de las columnas
bdtotal=bdtotal.convert_dtypes()
bdtotal.dtypes

In [ ]:
#Se mira si la columna esta en formato fecha y se le arregla el tipo de dato
print(bdtotal[['retirementDate']].head(10))
bdtotal['retirementDate']= pd.to_datetime(bdtotal['retirementDate'], errors= 'coerce', format='%Y-%m-%d')
bdtotal.dtypes

Debido a que las columnas :Attrition, retirementDate, retirementType, resignationReason, tienen nulos porque la base de datos retiros solo tiene 711 registros, al solo tomar en cuenta los empleados que se han retirado y no el nùmero total. Por lo que se decide reemplazar estos nulos por "NO RETIRADOS"

In [ ]:
#Reemplazo de nulos
bdtotal['Attrition'] = bdtotal['Attrition'].fillna('Vigente')
bdtotal['retirementDate'] = bdtotal['retirementDate'].fillna('No aplica')
bdtotal['retirementType'] = bdtotal['retirementType'].fillna('No aplica')
bdtotal['resignationReason'] = bdtotal['resignationReason'].fillna('No aplica')
bdtotal.head(5)

In [ ]:
#Cambiar el nombre de las columnas a minusculas
bdtotal.columns = bdtotal.columns.str.lower()
bdtotal.columns

In [ ]:
#Homologación de categorias 
listaf= ['environmentsatisfaction', 'jobsatisfaction',
        'worklifebalance', 'age', 'businesstravel', 'department',
        'distancefromhome', 'education', 'educationfield', 'employeecount',
        'gender','joblevel', 'jobrole', 'maritalstatus', 'monthlyincome',
        'numcompaniesworked', 'over18', 'percentsalaryhike', 'standardhours',
        'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
        'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
        'jobinvolvement', 'performancerating', 'attrition', 'retirementdate',
        'retirementtype', 'resignationreason']

In [ ]:
for i in listaf:
  print(bdtotal[i].value_counts())
  print('-----------------------------------------------')

3.0    1375
4.0    1334
2.0     856
1.0     845
Name: environmentsatisfaction, dtype: int64
-----------------------------------------------
4.0    1367
3.0    1343
1.0     860
2.0     840
Name: jobsatisfaction, dtype: int64
-----------------------------------------------
3.0    2698
2.0    1019
4.0     454
1.0     239
Name: worklifebalance, dtype: int64
-----------------------------------------------
35    234
34    231
31    207
36    207
29    204
32    183
30    180
38    174
33    174
40    171
37    150
28    144
27    144
42    138
39    126
45    123
41    120
26    117
46     99
44     99
43     96
50     90
24     78
25     78
49     72
47     72
55     66
48     57
51     57
53     57
52     54
54     54
22     48
58     42
23     42
56     42
21     39
20     33
59     30
19     27
18     24
60     15
57     12
Name: age, dtype: int64
-----------------------------------------------
Travel_Rarely        3129
Travel_Frequently     831
Non-Travel            450
Name: businesstravel, dtype: int64
-----------------------------------------------
Research & Development    2883
Sales                     1338
Human Resources            189
Name: department, dtype: int64
-----------------------------------------------
2     633
1     624
10    258
9     255
3     252
7     252
8     240
5     195
4     192
6     177
16     96
11     87
24     84
23     81
29     81
18     78
15     78
25     75
26     75
20     75
28     69
19     66
14     63
17     60
12     60
22     57
13     57
21     54
27     36
Name: distancefromhome, dtype: int64
-----------------------------------------------
3    1716
4    1194
2     846
1     510
5     144
Name: education, dtype: int64
-----------------------------------------------
Life Sciences       1818
Medical             1392
Marketing            477
Technical Degree     396
Other                246
Human Resources       81
Name: educationfield, dtype: int64
-----------------------------------------------
1    4410
Name: employeecount, dtype: int64
-----------------------------------------------
Male      2646
Female    1764
Name: gender, dtype: int64
-----------------------------------------------
1    1629
2    1602
3     654
4     318
5     207
Name: joblevel, dtype: int64
-----------------------------------------------
Sales Executive              978
Research Scientist           876
Laboratory Technician        777
Manufacturing Director       435
Healthcare Representative    393
Manager                      306
Sales Representative         249
Research Director            240
Human Resources              156
Name: jobrole, dtype: int64
-----------------------------------------------
Married     2019
Single      1410
Divorced     981
Name: maritalstatus, dtype: int64
-----------------------------------------------
23420     12
61420      9
27410      9
26100      9
23800      9
          ..
120610     3
56740      3
96130      3
69290      3
54680      3
Name: monthlyincome, Length: 1349, dtype: int64
-----------------------------------------------
1.0    1562
0.0     586
3.0     476
2.0     439
4.0     415
7.0     222
6.0     209
5.0     188
9.0     156
8.0     147
1.5       3
2.5       3
0.5       3
4.5       1
Name: numcompaniesworked, dtype: int64
-----------------------------------------------
Y    4410
Name: over18, dtype: int64
-----------------------------------------------
11    630
13    627
14    603
12    594
15    303
18    267
17    246
16    234
19    228
22    168
20    165
21    144
23     84
24     63
25     54
Name: percentsalaryhike, dtype: int64
-----------------------------------------------
8    4410
Name: standardhours, dtype: int64
-----------------------------------------------
0    1893
1    1788
2     474
3     255
Name: stockoptionlevel, dtype: int64
-----------------------------------------------
10.0    605
6.0     375
8.0     307
9.0     287
5.0     264
7.0     243
1.0     242
4.0     189
12.0    144
3.0     126
15.0    120
16.0    111
13.0    108
11.0    106
21.0    102
17.0     99
14.0     93
2.0      93
20.0     89
18.0     81
23.0     66
19.0     66
22.0     62
24.0     54
25.0     42
26.0     42
28.0     42
0.0      33
29.0     30
31.0     27
32.0     27
27.0     21
30.0     21
33.0     21
36.0     18
34.0     15
37.0     12
35.0      9
40.0      6
38.0      3
Name: totalworkingyears, dtype: int64
-----------------------------------------------
2    1641
3    1473
4     369
5     357
1     213
6     195
0     162
Name: trainingtimeslastyear, dtype: int64
-----------------------------------------------
5     588
1     513
3     384
2     381
10    360
4     330
7     270
9     246
8     240
6     228
0     132
11     96
20     81
13     72
15     60
14     54
22     45
12     42
21     42
18     39
16     36
19     33
17     27
24     18
33     15
26     12
25     12
31      9
32      9
29      6
27      6
36      6
23      6
34      3
30      3
37      3
40      3
Name: yearsatcompany, dtype: int64
-----------------------------------------------
0     1743
1     1071
2      477
7      228
4      183
3      156
5      135
6       96
11      72
8       54
9       51
15      39
13      30
12      30
14      27
10      18
Name: yearssincelastpromotion, dtype: int64
-----------------------------------------------
2     1032
0      789
7      648
3      426
8      321
4      294
1      228
9      192
5       93
6       87
10      81
11      66
12      54
13      42
17      21
15      15
14      15
16       6
Name: yearswithcurrmanager, dtype: int64
-----------------------------------------------
3    2604
2    1125
4     432
1     249
Name: jobinvolvement, dtype: int64
-----------------------------------------------
3    3732
4     678
Name: performancerating, dtype: int64
-----------------------------------------------
Vigente    3699
Yes         711
Name: attrition, dtype: int64
-----------------------------------------------
No aplica     3699
28/01/2016       6
14/07/2016       6
23/06/2016       6
01/06/2016       6
              ...
28/04/2016       1
01/12/2016       1
20/05/2016       1
23/07/2016       1
02/10/2016       1
Name: retirementdate, Length: 309, dtype: int64
-----------------------------------------------
No aplica      3699
Resignation     641
Fired            70
Name: retirementtype, dtype: int64
-----------------------------------------------
No aplica    3699
Others        393
Salary        189
Stress        129
Name: resignationreason, dtype: int64
-----------------------------------------------

**HOMOLOGACIÓN DE CATEGORIAS**

SE CONCLUYE QUE LAS COLUMNAS AGE, DISTANCEKM, MONTHLYINCOME, NUMCOMPANIESWORKED, PERCENTSALARY, TOTALWORKINGYEARS, YEARSATCOMPANY, YEARSSINCELASTPROMOTION Y YEARSWITHCURRMANAGER DEBEN SER AGRUPADAS POR INTERVALOS DEBIDO A SU AMPLIA CANTIDAD DE CATEGORIAS.

ADEMÁS SE ELIMINARA EMPLOYEECOUNT, OVER18 Y STANDAR HOURS DEBIDO A QUE SOLO POSEEN UNA CATEGORIA

In [ ]:
#Eliminar columnas
bdtotal1=bdtotal.drop(['employeecount','over18','standardhours'], axis=1)

In [ ]:
#AGRUPAR CATEGORIAS

In [ ]:
#Homologación de categorias de tipo de dato integer
lista1= ['businesstravel', 'department' , 'educationfield', 'gender', 'jobrole', 'maritalstatus', 'over18',
'attrition', 'retirementtype', 'resignationreason']
for i in lista1:
  print(bdtotal[i].value_counts())
  print('-----------------------------------------------')

In [ ]:
bdtotal['gender'].value_counts()

Male      2646
Female    1764
Name: gender, dtype: Int64

In [ ]:
#Homologación de categorias de tipo de dato string
lista1= ['businesstravel', 'department' , 'educationfield', 'gender', 'jobrole', 'maritalstatus', 'over18',
'attrition', 'retirementtype', 'resignationreason']
for i in lista1:
  print(bdtotal[i].value_counts())
  print('-----------------------------------------------')

In [ ]:
bdtotal.columns
bdtotal.values
print(bdtotal['EnvironmentSatisfaction'].dtypes)
#value.counts()

In [ ]:
# Homologacion de categorias(ya todas)
bd1['EnvironmentSatisfaction'].unique()
#para sacar los valores unicos de una columna
df2['mpaa_rating'].unique()
#convierto la fecha a un mejor formato
acc['FECHA']=acc['FECHA'].apply(lambda x:str(x)[0:10])#con esto le quito la hora a la fecha

array([ 3.,  2.,  4.,  1., nan])